.header {
    background-color: blue;
}

.investment {
    background-color: green;

    a {
        text-decoration: unset;
        background-color: orange;
    }
}

.citizensAdvantage {
    background-color: orange;
}

#greenButton {
    text-decoration: unset;
    background-color: green;
}