/*#region Variables*/
$green: rgb(0, 148, 95);
$lime: rgb(161, 185, 119);
$orange: rgb(223, 115, 0);
$grey: rgb(136,136,136);
$lightBlue: rgb(235,247,245);
/*#endregion Variables*/

/*#region Generic Styles*/

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, a {
    font-family: Arial, Helvetica, sans-serif;
}
h2, h3 {
    color: $green;
    font-size: 26px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 15px;
    color: $grey;
    font-style: italic;
    letter-spacing: 0.2px;
    line-height: 160%;
}
h5 {
    color: $green;
}
h6 {
    font-size: 21px;
}
h7 {
    color: $grey;
    font-size: 11px;
    letter-spacing: 0.2px;
    line-height: 120%;
}
p {
    color: $grey;
    font-size: 16px;
    letter-spacing: 0.35px;
    line-height: 180%;
}

a {
    text-decoration: unset;
}

/*#endregion Generic Styles*/


// page widge: 1280

html , body {
    display: flex;
    flex-wrap: wrap;
}

body {
    flex-direction: column;


    header {
        // display: flex;
        // flex-wrap: wrap;
        // background-color: blue;
        width: 100%;
        #logoDiv {
            width: 100%;
            // background-color: red;
            #logo {
                // width: 100%;
                // background-color: black;
                margin: 64px 0 53px 35px;
            }
        }

        #banner {
            width: 100%;
            margin: 0 auto;
            // background-color: blue;
            margin-bottom: 64px;
            #bannerImg1 {
                width: 100%;
                // background-color: black;
            }
            #bannerImg2 {
                visibility: hidden;
                width: 0px;
                height: 0px;
                margin: 0px;
                padding: 0px;
            }
            // background-image: url("../images/Banner_Main.png");
            // background-repeat: no-repeat;
            // background-position: center;
            // height: 449px;
            // height: 100%;
            // object-fit: scale-down;
            // max-width: 100%;
            // scale: 60%;
        }
    }
    
    main {
        margin: 0 36px 136px 36px;
        #investmentDiv {
            width: 100%;
            // background-color: violet;
            margin-bottom: 50px;
            #investmentTitle {
                width: max-content;
                margin: 0 auto;
                // background-color: red;
                h2 {
                    margin-bottom: 15px;
                }
                #investmentLine {
                    width: 72px;
                    height: 2px;
                    margin: 0 auto;
                    background-color: $green;
                }
                margin-bottom: 20px;
            }
        }
    
        #orangeButtonDiv {
            // background-color: black;
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 40px;
            a {
                color: white;
                background-color: $orange;
                padding: 10px 20px;
                font-size: 20px;
            }
        }
        
        #citizensAdvantage {
            // background-color: orange;
            width: fit-content;
            margin: 0 auto 25px auto;
            text-align: center;
        }

        #citizensAdvantageLine {
            background-color: $green;
            margin: 0 auto 40px auto;
            height: 2px;
            width: 72px;
        }
        
        #citizensAdvantageBlocksFull {
            // display: flex;
            // background-color: black;
            width: 100%;
            margin-bottom: 50px;
            h3 {
                margin-bottom: 2%;
            }
            .vl {
                margin-top: 10px;
                height: 150px;
                width: 1px;
                background-color: $grey;
            }
    
            #citizensAdvantageBlocksTop {
                display: flex;
                // background-color: green;
                width: 100%;
                margin-bottom: 120px;

                #block1 , #block2 {
                    // background-color: teal;
                    // border: solid black 1px;
                    width: 47%;
                }

                #block1 {
                    margin-right: auto;
                    p {
                        margin-bottom: 2%;
                    }
                    a {
                        color: $lime;
                        font-size: 14px;
                    }
                }
                
                #block2 {
                    margin-left: auto;
                }
            }
    
            #citizensAdvantageBlocksBottom {
                display: flex;
                // background-color: green;
                width: 100%;

                #block3 , #block4 {
                    // background-color: lightblue;
                    // border: solid black 1px;
                    width: 47%;
                }
                #block3 {
                    margin-right: auto;
                }
                #block4 {
                    margin-left: auto;
                }
            }
        }
    
        #homeloans {
            margin-bottom: 100px;
            h6 {
                background-color: $green;
                margin: 0 auto 20px auto;
                text-align: center;
                padding: 20px;
                width: 97%;
                color: white;
            }
            p {
                background-color: $lightBlue;
                width: 90%;
                margin: 0 auto;
                padding: 0 50px;
            }
        }
    
        #quotes {
            // background-color: lightblue;
            margin: 0 auto;
            width: 95%;
            display: flex;
            justify-content: space-around;
            margin-bottom: -20px;
            .quoteClass {
                h4 , h5 {
                    text-align: center;
                    // background-color: violet;
                    margin: 0 auto;
                    width: 70%;
                }
                h4 {
                    // height: 80px;
                    margin-bottom: 19px;
                }
                h5 {
                    width: 170px;
                }
            }
    
            .quoteimgClass {
                text-align: center;
                margin-bottom: 8px;
            }
    
            #quote2 {
                h4 {
                    width: 65%;
                }
            }
        }
    }
    
    footer {
        // background-color: blue;
        width: 100%;
        #footerStrip {
            width: 100%;
            height: 1px;
            margin-bottom: 36px;
            background-color: $green;
        }
    
        #footerContent {
            margin: 0 auto;
            width: 93%;
            display: flex;
            flex-wrap: wrap;

            #socials {
                margin-bottom: 27px;
                a {
                    margin-right: 5px;
                }
            }

            h7 {
                margin-bottom: 27px;
            }

            #policy {
                a {
                    text-decoration: underline;
                }
            }

            #privacyStatement {
                :hover , :link , :visited , :active {
                    color: $grey;
                }
            }
        }     
    }
}



@media only screen and (max-width: 600px ) {

    h6 {
        font-size: 20px;
        // letter-spacing: 0.4px;
        line-height: 150%;
    }
    p {
        font-size: 18px;
    }

    body {

        header {
            // background-color: blue;
            #logoDiv {
                width: 100%;
                // background-color: red;
                text-align: center;
                #logo {
                    margin: 30px 0;
                    width: 50%;
                    // background-color: black;
                }
            }
        }

        main {
            margin: 0 22px 136px 22px;
            #citizensAdvantageBlocksFull {
                width: 100%;
                margin-bottom: 40px;

                .vl {
                    height: unset;
                    width: unset;
                }
                .hl {
                    background-color: $grey;
                    height: 1px;
                    width: 100%;
                    margin: 20px 0;
                }
        
                #citizensAdvantageBlocksTop {
                    display: block;
                    // background-color: green;
                    margin-bottom: unset;
                    #block1 {
                        width: 100%;
                        p {
                            margin-bottom: 2% ;
                        }
                    }
                    #block2 {
                        width: 100%;
                    }
                }
        
                #citizensAdvantageBlocksBottom {
                    display: block;
                    // background-color: green;
                    // width: 100%;
                    // margin-bottom: 120px;
                    #block3 {
                        width: 100%;
                    }
                    #block4 {
                        width: 100%;
                    }
                }
            }
    
            #homeloans {
                width: 100%;
                // background-color: black;
                margin-bottom: 100px;
                h6 {
                    background-color: $green;
                    margin: 0 auto 20px auto;
                    width: 85%;
                }
                p {
                    width: 100%;
                    // margin: 0 auto;
                    padding: unset;
                }
            }

            #quotes {
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-around;
                margin-bottom: -100px;
                .quoteClass {
                    margin-bottom: 40px;
                }
            }
        }

        footer {
            #footerContent {
                width: 88%;
            }   
        }
    }
}

@media only screen and (max-width: 420px ) {

    body {
        header {
            width: 100%;
            // background-color: blue;
            #banner {
                width: 100%;
                // background-color: violet;
                #bannerImg1 {
                    visibility: hidden;
                    height: 0;
                    width: 0;
                    margin: 0;
                    padding: 0;
                }
                #bannerImg2 {
                    visibility: visible;
                    height: unset;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    object-position: center;

                }
            }
        }
    }

}